.showcase{
    margin-top: 60px;
}
.showcase-title{
    display: flex;
    justify-content: space-between;
}
.showcase-title button{
    width: 151px;
    height: 44px;
    border: 2px solid #003459;
    border-radius: 57px;
    background-color: transparent;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #003459;
}
.showcase-title h1{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #003459;
}
.showcase-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-top: 30px;
}
.show-card{
    width: 280px;
    height: 378px;
    background: #FDFDFD;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.403);
    border-radius: 12px;
    padding: 7px;
    margin-top: 10px;
}
.show-card img{
    border-radius: 10px;
}
.show-card h3{
    padding-top: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #00171F;
}
.show-card p{
    padding-top: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #667479;
}
@media(max-width:1350px){
    .showcase-cards{
        grid-template-columns: repeat(3,1fr);
    }
}
@media(max-width:955px){
    .showcase-cards{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:630px){
    .showcase-cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .showcase-title{
        flex-direction: column;
        gap: 20px;
    }
}
@media(max-width:300px){
    .show-card{
        width: 270px;
        height: 378px;
    }
    .show-card img{
        width: 250px;
    }
}